dl {
  overflow: hidden;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
dt, dd {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  margin-bottom: 10px;
  font-size: medium;
  padding: 3px;
}

.image {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: 30%;
  padding-top: 15px;
}

.example-card {
  margin-bottom: 5%;
  margin-right: 12%;
  margin-left: 10%;
}

