dl {
  overflow: hidden;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
dt, dd {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  margin-bottom: 10px;
  font-size: medium;
  padding: 3px;
}

.image {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: 20%;
}


.example-card {
  margin-bottom: 5%;
  margin-right: 20%;
  margin-left: 20%;
}

.arrow{
  background-color: whitesmoke;
}
