<app-menu></app-menu>

<div style="text-align:center">
  <h3>
    Repo details
  </h3>
</div>

<div class="example-loading-shade"
     *ngIf="isLoadingData">
  <mat-spinner *ngIf="isLoadingData"></mat-spinner>
</div>

<mat-card class="example-card">
  <div class="button-row">
    <a mat-flat-button class="arrow" [routerLink]="['']">
      <mat-icon>keyboard_backspace</mat-icon>
    </a>
  </div>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{repo.name}}</mat-card-title>
    <mat-card-subtitle>{{repo.description}}</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image src="https://source.unsplash.com/95YRwf6CNw8" alt="Computer photo">
  <mat-card-content>
    <dl>
      <dt>Id:</dt>
      <dd>{{repo.id}}</dd>
      <dt>Created:</dt>
      <dd>{{repo.created_at | date}}</dd>
      <dt>Updated:</dt>
      <dd>{{repo.updated_at | date}}</dd>
      <dt>Private:</dt>
      <dd>{{repo.private}}</dd>
      <dt>Url:</dt>
      <dd>{{repo.html_url}}</dd>
      <dt>Language:</dt>
      <dd>{{repo.language}}</dd>
      <dt>Size:</dt>
      <dd>{{repo.size}} Kb</dd>
      <dt>Forks:</dt>
      <dd>{{repo.forks}}</dd>
    </dl>
  </mat-card-content>
</mat-card>

